$eyebrow-dropdown-bg: #002B4C;
$eyebrow-section-bg: #07528C;

$header-nav-search-placeholder-color: #999;
$header-nav-main-bg: #EEF0F2;
$header-nav-main-border: #D5DBE1;
$header-nav-main-border-md: #EEF0F2;

$header-nav-main-dropdown: #005AA3;
$header-nav-main-dropdown-hover: #0076D6;
$header-nav-main-dropdown-bg: #E8ECF0;

$header-nav-aux-bg: #EEF0F2;
$header-nav-aux-border: #D5DBE1;

// ================================
// Header
// ================================

.header
{
  font-family: Avenir, sans-serif;
}

.header .container
{
  padding: 0;
}

.header > .navbar
{
  z-index: 0;
}

.header > .navbar > .container
{
  flex-direction: row-reverse;
}

// ================================
// Eyebrow
// ================================

.header .eyebrow
{
  @extend .bg-primary;
  @extend .fixed-top;
  @extend .navbar;
  @extend .navbar-dark;
}

.header .ucsb-lockup
{
  @extend .navbar-brand;
}

.header .navbar
{
  padding: 1.25rem 0 0 0;
}

.header .navbar-brand
{
  display: none;
}

.header .lockup
{
  left: 0.9375rem;
  position: fixed;
  top: 1.25rem;
  width: 80%;
  z-index: 1;
}

.header .lockup-title
{
  background-image: url('../images/logo_FFFFFF.svg');
  background-position: left center;
  background-repeat: no-repeat;
  display: block;
  height: 1rem;
  padding: 0;
  text-indent: -9999rem;
  width: 14.0625rem;
}

.header .lockup-title > a
{
  display: block;
  height: 100%;
  width: 100%;
}

.header .navbar-toggler
{
  border: 0;
  height: 0.875rem;
  outline: none;
  margin: 0 0.9375rem 1.4rem 0;
  padding: 0;
  position: relative;
  width: 1.375rem;
}

.header .navbar-toggler:focus
{
  outline: 0;
}

.header .navbar-toggler .navbar-toggler-icon,
.header .navbar-toggler::after,
.header .navbar-toggler::before
{
  background: #FFF;
  content: '';
  display: block;
  height: 14%;
  left: 0;
  position: absolute;
  transition: opacity 0.1s, transform 0.2s;
  width: 100%;
}

.header .navbar-toggler .navbar-toggler-icon
{
  top: 0;
}

.header .navbar-toggler::after
{
  top: 42%;
}

.header .navbar-toggler::before
{
  bottom: 0;
}

.header .navbar-toggler[aria-expanded="true"]::after
{
  opacity: 0;
}

.header .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon
{
  transform: translate(0, 0.375rem) rotate(45deg);
}

.header .navbar-toggler[aria-expanded="true"]::before
{
  transform: translate(0, -0.375rem) rotate(-45deg);
}

// ================================
// Header Navigation
// ================================

.header .header-nav
{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.175);
  margin-top: 3.625rem;
  position: relative;
  width: 100%;
  z-index: -1;
}

.header .header-nav-search.collapse:not(.show)
{
  display: block;
}

.header .header-nav-search .container > *
{
  display: none;
}

.header .header-nav-search .container
{
  padding: 0;
}

.header .header-nav-search .header-nav-search-form
{
  display: block;
  position: relative;
}

.header .header-nav-search-form .form-control
{
  border: 0;
  border-radius: 0;
  font-size: 0.875rem;
  font-weight: 200;
  height: auto;
  padding: 0.75rem;
}

.header .header-nav-search-form .form-control::placeholder
{
  color: $header-nav-search-placeholder-color;
}

.header .header-nav-search-form .form-group
{
  margin: 0;
}

.header .header-nav-search-form .btn
{
  background-color: transparent;
  background-image: url('../images/search_AEB7BE.svg');
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  display: block;
  height: 1.0625rem;
  right: 0.5625rem;
  position: absolute;
  top: 0.8125rem;
  width: 1.0625rem;
}

.header .header-nav-main .navbar .container
{
  padding: 0;
}

.header .header-nav-main
{
  background: $header-nav-main-bg;
  border-top: 2px solid $header-nav-main-border;
}

.haeder .header-nav-main .navbar
{
  padding-top: 0;
}

.header .header-nav-main .nav
{
  overflow: hidden;
  width: 100%;
}

.header .header-nav-main .nav-item
{
  font-weight: 500;
  width: 100%;
}

.header .header-nav-main .nav-link,
.header .header-nav-main .nav-link:hover
{
  color: $primary;
  padding: 1rem 1.25rem;
}

.header .header-nav-main .dropdown-toggle::after
{
  background-image: url('../images/thin_caret_AEB8BF.svg');
  border: none;
  height: 0.5rem;
  position: absolute;
  right: 1.25rem;
  top: 1.5rem;
  width: 0.875rem;
}

.header .header-nav-main .nav-item.show .dropdown-toggle::after
{
  transform: rotate(180deg);
}

.header .header-nav-main .dropdown-menu
{
  border: none;
  border-radius: 0;
  position: initial;
  width: 100%;
}

.header .header-nav-main .dropdown-header,
.header .header-nav-main .dropdown-item
{
  color: $header-nav-main-dropdown;
  font-size: 1rem;
  font-weight: 200;
  padding-bottom: 0.6875rem;
  padding-top: 0.6875rem;
}

.header .header-nav-main .icon-external
{
  background-image: url('../images/external_005AA3.svg');
  height: 0.8125rem;
  width: 0.8125rem;
}

// ================================
// Auxiliary Navigation
// ================================

.header .header-nav-aux
{
  background: $header-nav-aux-bg;
  border-top: 2px solid $header-nav-aux-border;
}

.header .header-nav-aux .nav-item
{
  float: left;
  width: 50%;
}

.header .header-nav-aux .nav-link
{
  padding: 1.875rem 0.9375rem;
}

.header .header-nav-aux .dropdown
{
  width: 100%;
}

.header .header-nav-aux .dropdown-header
{
  display: none;
}

.header .header-nav-aux .dropdown-menu
{
  background: $header-nav-aux-bg;
  border-bottom: 2px solid $header-nav-aux-border;
  border-radius: 0;
  border-width: 0 0 2px 0;
  column-count: 2;
  display: block;
  margin: 0;
  padding: 0.9375rem;
  position: initial;
  width: 100%;
}

.header .header-nav-aux .dropdown-toggle
{
  display: none;
}

.header .header-nav-aux .dropdown-item
{
  color: $primary;
  display: inline-block;
  font-weight: 300;
  padding: 1rem 0;
}

.header .header-nav-aux .dropdown-item:active,
.header .header-nav-aux .dropdown-item:hover
{
  background: transparent;
}

.header .header-nav-aux .icon-external
{
  background-image: url('../images/external_003660.svg');
  height: 0.8125rem;
  width: 0.8125rem;
}

.header .header-nav-aux .nav-link.text-secondary,
.header .header-nav-aux .nav-link.text-secondary:hover
{
  color: $primary !important;
}

// ================================
// Medium Breakpoint
// ================================

@include media-breakpoint-up(md)
{
  .header .container
  {
    padding: 0 30px;
  }

  .header > .navbar > .container
  {
    flex-direction: row;
  }

  .header .navbar
  {
    height: 2.25rem;
    padding: 0;
  }

  .header .navbar-brand
  {
    display: block;
  }

  .header .navbar-toggler
  {
    display: none;
  }

  .header .ucsb-lockup
  {
    font-size: 0.75rem;
    font-weight: 100;
    letter-spacing: 0.5pt;
    margin: 0;
    padding: 0;
  }

  .header .ucsb-lockup:hover
  {
    text-decoration: underline;
  }

  .header .lockup
  {
    background: #FFF;
    height: 10.5rem;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  .header .lockup > .container
  {
    position: relative;
    padding-left: 1.875rem;
  }

  .header .lockup-title
  {
    background-image: url('../images/logo_003660.svg');
    height: 1.5rem;
    left: 1.875rem;
    margin: 0;
    position: absolute;
    top: 4.75rem;
    width: 21.0625rem;
  }

  .header .header-nav,
  .header .header-nav.collapse
  {
    display: block;
    margin-top: 0;
    position: fixed;
    z-index: auto;
  }

  .header .header-nav-aux
  {
    border-top: none;
  }

  .header .header-nav-aux > .container
  {
    position: relative;
  }

  .header .header-nav-aux .nav
  {
    background: transparent;
    display: block;
    font-size: 0.75rem;
    font-weight: 100;
    letter-spacing: 0.5pt;
    position: absolute;
    right: 1.4375rem;
    top: 0;
    width: 70%;
  }

  .header .header-nav-aux .nav-item, .header-nav-aux .dropdown
  {
    float: right;
    width: auto;
  }

  .header .header-nav-aux .nav-link
  {
    color: #FFF;
    padding: 0;
  }

  .header .header-nav-aux .dropdown-toggle
  {
    display: block;
  }

  .header .header-nav-aux .dropdown-menu
  {
    column-count: 1;
    display: none;
  }

  .header .header-nav-aux .dropdown-menu.show
  {
    display: block;
  }

  .header .header-nav-aux .nav-link
  {
    color: #FFF;
    height: 2.25rem;
    text-transform: uppercase;
    padding: 0.5rem 1.25rem;
    position: relative;
  }

  .header .header-nav-aux .nav-link::before
  {
    background-color: rgba(255, 255, 255, 0.12);
    content: '';
    display: block;
    height: 72%;
    position: absolute;
    left: -1px;
    top: 14%;
    width: 1px;
  }

  .header .header-nav-aux .nav-link.text-secondary,
  .header .header-nav-aux .nav-link.text-secondary:hover
  {
    color: $secondary !important;
  }

  .header .header-nav-aux .nav-item.divider-none .nav-link::before,
  .header .eyebrow .nav-link[aria-expanded="true"]::before
  {
    display: none;
  }

  .header .header-nav-aux .nav-item.dropdown.show .nav-link::before
  {
    display: none;
  }

  .header .header-nav-aux .dropdown-toggle::after,
  .header .header-nav-aux .nav-link[data-toggle="collapse"]::after
  {
    background-image: url('../images/caret_FFFFFF.svg');
    border: none;
    content: '';
    display: inline-block;
    height: 0.375rem;
    vertical-align: 0.12em;
    margin-left: 0.625rem;
    width: 0.625rem;
  }

  .header .header-nav-aux .dropdown.show .nav-link.dropdown-toggle
  {
    background: $eyebrow-dropdown-bg;
  }

  .header .header-nav-aux .nav-link[data-toggle="collapse"]
  {
    background: $eyebrow-section-bg;
  }

  .header .header-nav-aux .nav-link[data-toggle="collapse"].collapsed
  {
    background: $primary;
  }

  .header .header-nav-aux .dropdown-menu
  {
    background: $eyebrow-dropdown-bg;
    border-radius: 0;
    border-width: 0;
    margin: 0;
    padding: 0.5rem 0;
    min-width: 16.25rem;
  }

  .header .header-nav-aux .dropdown.show .dropdown-toggle::after,
  .header .eyebrow .nav-link[data-toggle="collapse"]::after
  {
    transform: scaleY(-1);
  }

  .header .header-nav-aux .nav-link[data-toggle="collapse"].collapsed::after
  {
    transform: scaleY(1);
  }

  .header .header-nav-aux .dropdown-header
  {
    color: #FFF;
    display: block;
    font-size: 0.75rem;
    padding: 0.75rem 1.5rem;
  }

  .header .header-nav-aux .dropdown-item
  {
    color: #FFF;
    font-weight: 100;
    padding: 0.75rem 1.5rem;
  }

  .header .header-nav-aux .dropdown-item:hover
  {
    background: $primary;
  }

  .header .header-nav-aux .dropdown-item .icon-external
  {
    background-image: url('../images/external_FFFFFF.svg');
    height: 0.8125rem;
    vertical-align: text-top;
    width: 0.8125rem;
  }

  .header .header-nav-aux .nav-link .icon
  {
    margin-bottom: -0.4em;
  }

  .header .header-nav-search
  {
    background: $eyebrow-section-bg;
    color: #FFF;
    height: 13.5625rem;
    padding-top: 2.5rem;
    position: fixed;
    top: 2.25rem;
    width: 100%;
    z-index: $zindex-dropdown;
  }

  .header .header-nav-search.collapse:not(.show)
  {
    display: none;
  }

  .header .header-nav-search .container > *
  {
    display: initial;
  }

  .header .header-nav-search .row
  {
    display: flex;
  }

  .header .header-nav-search.collapsing
  {
    -webkit-transition: none;
    transition: none;
    display: none;
  }

  .header .header-nav-search .form-group
  {
    position: relative;
    margin-bottom: 2.25rem;
  }

  .header .header-nav-search .form-control
  {
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0;
    border-width: 0 0 1px 0;
    color: #FFF;
    font-size: 1.375rem;
    font-weight: 100;
    padding: 0.5rem 0 0.25rem 3.125rem;
  }

  .header .header-nav-search .form-control::placeholder
  {
    color: rgba(255, 255, 255, 0.5);
  }

  .header .header-nav-search .form-control:focus
  {
    box-shadow: none;
  }

  .header .header-nav-search button[type="submit"]
  {
    background-image: url('../images/search_FFFFFF.svg');
    height: 1.5625rem;
    left: 0.5rem;
    position: absolute;
    top: 0.6rem;
    width: 1.5625rem;
  }

  .header .header-nav-search a
  {
    color: #FFF;
    text-decoration: underline;
  }

  .header .header-nav-search a:hover
  {
    text-decoration: none;
  }

  .header .header-nav-search p
  {
    font-size: 0.875rem;
    letter-spacing: 0.7pt;
    line-height: 1.75rem;
    margin: 0;
    padding: 0;
  }

  .header .header-nav-search p:nth-child(1)
  {
    font-size: 0.75rem;
  }

  .header .header-nav-search > .container
  {
    padding: 0 30px;
  }

  .header .header-nav-main
  {
    background: #FFF;
    border-top: none;
    margin-top: 5.375rem;
    position: absolute;
    top: 2.25rem;
    width: 100%;
  }

  .header .header-nav-main .navbar
  {
    height: auto;
    padding: 0;
  }

  .header .header-nav-main .nav
  {
    border-top: 1px solid $header-nav-main-border-md;
    overflow: visible;
    width: 100%;
  }

  .header .header-nav-main .nav-item
  {
    font-weight: 200;
    margin: 0 1.25rem;
    width: auto;
  }

  .header .header-nav-main .nav-item:first-child
  {
    margin-left: 0;
  }

  .header .header-nav-main .nav-item::after
  {
    display: block;
  }

  .header .header-nav-main .nav-link,
  .header .header-nav-main .nav-link:hover
  {
    border-bottom: 3px solid #FFF;
    line-height: 1.25rem;
    padding: 0.75rem 0 0.625rem;
  }

  .header .header-nav-main .nav-link:hover,
  .header .header-nav-main .dropdown.show .nav-link
  {
    border-bottom: 3px solid $primary;
  }

  .header .header-nav-main .dropdown-toggle::after
  {
    display: none;
  }

  .header .header-nav-main .dropdown-menu
  {
    background-color: $header-nav-main-dropdown-bg;
    border-radius: 0;
    border-width: 0;
    margin: 0 0 0 -1.3125rem;
    padding: 1rem 0 1.875rem;
    position: absolute;
  }

  .header .header-nav-main .dropdown-menu.show
  {
    display: grid;
    grid-auto-columns: min-content;
    grid-template-columns: auto;
  }

  // We use a super wide psuedo element to simulate the background
  .header .header-nav-main .dropdown-menu.show::after
  {
    background-color: $header-nav-main-dropdown-bg;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.175);
    content: '';
    display: block;
    height: 100%;
    left: -100rem;
    position: absolute;
    top: 0;
    width: 200rem;
    z-index: -1;
  }

  .header .header-nav-main .dropdown-header
  {
    font-size: 1rem;
    font-weight: 500;
    grid-row: 1 / 100;
  }

  .header .header-nav-main .dropdown-header:hover
  {
    color: $header-nav-main-dropdown-hover;
    text-decoration: none;
  }

  .header .header-nav-main .dropdown-item
  {
    clear: none;
    color: $header-nav-main-dropdown;
    font-weight: 200;
  }

  .header .header-nav-main .dropdown-header,
  .header .header-nav-main .dropdown-item
  {
    color: $header-nav-main-dropdown;
    padding: 0.6875rem 1.25rem 0.625rem 1.3125rem;
    width: auto;
  }

  .header .header-nav-main .dropdown-item:hover
  {
    background-color: transparent;
    color: $header-nav-main-dropdown-hover;
  }

  .header .header-nav-main .dropdown-item:hover::first-line,
  .header .header-nav-main .dropdown-header:hover::first-line
  {
    background-image: url('../images/main_nav_underline.gif');
    background-position: bottom;
    background-repeat: repeat-x;
  }
}

// ================================
// Large Breakpoint
// ================================

@include media-breakpoint-up(lg)
{
  .header .header-nav-main .dropdown-menu.show
  {
    grid-template-columns: auto auto auto;
  }
}
