.icon
{
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

.icon-search
{
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1
sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIA0KCSB3aWR0aD0iMTAwJS
IgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSI5MC4yNzggOTAuMjc4IDMzNi44MDUgMzM2LjgwNSI+D
Qo8cGF0aCBmaWxsPSIjRkZGIiBkPSJNMzE3LjQ5NCwzNDYuOTU3QzI5My43OTksMzY0LjU3NSwy
NjQuNDM2LDM3NSwyMzIuNjM5LDM3NWMtNzguNjI0LDAtMTQyLjM2MS02My43MzctMTQyLjM2MS0
xNDIuMzYxDQoJYzAtNzguNjI0LDYzLjczNy0xNDIuMzYxLDE0Mi4zNjEtMTQyLjM2MUMzMTEuMj
YzLDkwLjI3OCwzNzUsMTU0LjAxNSwzNzUsMjMyLjYzOWMwLDMxLjc5Ny0xMC40MjUsNjEuMTYtM
jguMDQzLDg0Ljg1NQ0KCWw3NC4wMjQsNzQuMDI0YzguMTM2LDguMTM2LDguMTM2LDIxLjMyNyww
LDI5LjQ2M3MtMjEuMzI3LDguMTM2LTI5LjQ2MywwTDMxNy40OTQsMzQ2Ljk1N3ogTTIzMi42Mzk
sMzMzLjMzNA0KCWM1NS42MTIsMCwxMDAuNjk0LTQ1LjA4MywxMDAuNjk0LTEwMC42OTVjMC01NS
42MTItNDUuMDgyLTEwMC42OTQtMTAwLjY5NC0xMDAuNjk0Yy01NS42MTIsMC0xMDAuNjk0LDQ1L
jA4My0xMDAuNjk0LDEwMC42OTQNCglDMTMxLjk0NCwyODguMjUxLDE3Ny4wMjcsMzMzLjMzNCwy
MzIuNjM5LDMzMy4zMzR6Ii8+DQo8L3N2Zz4=");
}

.icon-external
{
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHR
wOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aW
V3Qm94PSIyIDEgMTMgMTMiPg0KPHBhdGggZmlsbD0iI0ZGRiIgZD0iTTEyLjc4MSwyLjNIMTAuN
DVjLTAuMzU5LDAtMC42NS0wLjI5MS0wLjY1LTAuNjVTMTAuMDkxLDEsMTAuNDUsMWgzLjg5OUMx
NC43MDksMSwxNSwxLjI5MSwxNSwxLjY1djMuOQ0KCWMwLDAuMzU5LTAuMjkxLDAuNjUtMC42NSw
wLjY1Yy0wLjM1OCwwLTAuNjQ5LTAuMjkxLTAuNjQ5LTAuNjVWMy4yMTlMNy42Niw5LjI2Yy0wLj
I1NCwwLjI1NC0wLjY2NiwwLjI1NC0wLjkxOSwwDQoJcy0wLjI1NC0wLjY2NiwwLTAuOTE5TDEyL
jc4MSwyLjN6IE0xMS43NSw4LjE1YzAtMC4zNTksMC4yOTEtMC42NSwwLjY1LTAuNjVjMC4zNTgs
MCwwLjY0OSwwLjI5MSwwLjY0OSwwLjY1djMuOQ0KCWMwLDEuMDc3LTAuODczLDEuOTUtMS45NSw
xLjk1SDMuOTVDMi44NzMsMTQsMiwxMy4xMjcsMiwxMi4wNVY0LjljMC0xLjA3NywwLjg3My0xLj
k1LDEuOTUtMS45NWgzLjljMC4zNTksMCwwLjY1LDAuMjkxLDAuNjUsMC42NQ0KCVM4LjIwOSw0L
jI1LDcuODUsNC4yNWgtMy45QzMuNTkxLDQuMjUsMy4zLDQuNTQxLDMuMyw0Ljl2Ny4xNWMwLDAu
MzU5LDAuMjkxLDAuNjUsMC42NSwwLjY1SDExLjFjMC4zNTksMCwwLjY1LTAuMjkxLDAuNjUtMC4
2NQ0KCVY4LjE1eiIvPg0KPC9zdmc+DQo=");
}
