.icon
{
  background-size: contain;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

.icon-search
{
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1
sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIA0KCSB3aWR0aD0iMTAwJS
IgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSI5MC4yNzggOTAuMjc4IDMzNi44MDUgMzM2LjgwNSI+D
Qo8cGF0aCBmaWxsPSIjRkZGIiBkPSJNMzE3LjQ5NCwzNDYuOTU3QzI5My43OTksMzY0LjU3NSwy
NjQuNDM2LDM3NSwyMzIuNjM5LDM3NWMtNzguNjI0LDAtMTQyLjM2MS02My43MzctMTQyLjM2MS0
xNDIuMzYxDQoJYzAtNzguNjI0LDYzLjczNy0xNDIuMzYxLDE0Mi4zNjEtMTQyLjM2MUMzMTEuMj
YzLDkwLjI3OCwzNzUsMTU0LjAxNSwzNzUsMjMyLjYzOWMwLDMxLjc5Ny0xMC40MjUsNjEuMTYtM
jguMDQzLDg0Ljg1NQ0KCWw3NC4wMjQsNzQuMDI0YzguMTM2LDguMTM2LDguMTM2LDIxLjMyNyww
LDI5LjQ2M3MtMjEuMzI3LDguMTM2LTI5LjQ2MywwTDMxNy40OTQsMzQ2Ljk1N3ogTTIzMi42Mzk
sMzMzLjMzNA0KCWM1NS42MTIsMCwxMDAuNjk0LTQ1LjA4MywxMDAuNjk0LTEwMC42OTVjMC01NS
42MTItNDUuMDgyLTEwMC42OTQtMTAwLjY5NC0xMDAuNjk0Yy01NS42MTIsMC0xMDAuNjk0LDQ1L
jA4My0xMDAuNjk0LDEwMC42OTQNCglDMTMxLjk0NCwyODguMjUxLDE3Ny4wMjcsMzMzLjMzNCwy
MzIuNjM5LDMzMy4zMzR6Ii8+DQo8L3N2Zz4=");
}
