.navbar-brand, a.nav-link, .dropdown-item, .dropdown-header
{
  font-family: Avenir, sans-serif;
  font-weight: 100;
  letter-spacing: 0.5pt;
}

.navbar-brand, a.nav-link
{
  font-size: 0.75rem;
}

.navbar-brand:hover
{
  text-decoration: underline;
}

a.nav-link
{
  color: #FFF;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

li.nav-item
{
  position: relative;
}

li.nav-item::before
{
  background-color: rgba(255,255,255,0.12);
  content: '';
  display: block;
  height: 72%;
  position: absolute;
  left: -1px;
  top: 14%;
  width: 1px;
  z-index: 0;
}

li.nav-item:first-child::before
{
  display: none;
}

li.nav-item.dropdown.show::before
{
  display: none;
}

.dropdown-toggle::after
{
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1
sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPg0KICAgICAgICAgICAgIC
AgICAgICA8cGF0aCBmaWxsPSIjRkZGIiBkPSJNMTIsMTIuNTg1Nzg2NCBMOC43MDcxMDY3OCw5L
jI5Mjg5MzIyIEM4LjMxNjU4MjQ5LDguOTAyMzY4OTMgNy42ODM0MTc1MSw4LjkwMjM2ODkzIDcu
MjkyODkzMjIsOS4yOTI4OTMyMiBDNi45MDIzNjg5Myw5LjY4MzQxNzUxIDYuOTAyMzY4OTMsMTA
uMzE2NTgyNSA3LjI5Mjg5MzIyLDEwLjcwNzEwNjggTDExLjI5Mjg5MzIsMTQuNzA3MTA2OCBDMT
EuNjgzNDE3NSwxNS4wOTc2MzExIDEyLjMxNjU4MjUsMTUuMDk3NjMxMSAxMi43MDcxMDY4LDE0L
jcwNzEwNjggTDE2LjcwNzEwNjgsMTAuNzA3MTA2OCBDMTcuMDk3NjMxMSwxMC4zMTY1ODI1IDE3
LjA5NzYzMTEsOS42ODM0MTc1MSAxNi43MDcxMDY4LDkuMjkyODkzMjIgQzE2LjMxNjU4MjUsOC4
5MDIzNjg5MyAxNS42ODM0MTc1LDguOTAyMzY4OTMgMTUuMjkyODkzMiw5LjI5Mjg5MzIyIEwxMi
wxMi41ODU3ODY0IFoiPjwvcGF0aD4NCiAgICAgICAgICAgICAgICAgIDwvc3ZnPg==");
  border: none;
  height: 1rem;
  margin-left: 0;
  margin-top: -0.5rem;
  vertical-align: 0;
  width: 1.1rem;
}

.dropdown.show a.nav-link.dropdown-toggle
{
  background: #002B4C;
}

.dropdown-header
{
  font-size: 0.75rem;
}
