.navbar-brand, a.nav-link, .dropdown-item, .dropdown-header
{
  font-family: Avenir, sans-serif;
  font-weight: 100;
  letter-spacing: 0.5pt;
}

.navbar-brand, a.nav-link
{
  font-size: 0.75rem;
}

.navbar-brand:hover
{
  text-decoration: underline;
}

a.nav-link
{
  color: #FFF;
  height: 2.25rem;
  text-transform: uppercase;
  position: relative;
}

a.nav-link::before
{
  background-color: rgba(255,255,255,0.12);
  content: '';
  display: block;
  height: 72%;
  position: absolute;
  left: -1px;
  top: 14%;
  width: 1px;
}

li.nav-item:first-child a.nav-link::before, a.nav-link[aria-expanded="true"]::before
{
  display: none;
}

li.nav-item.dropdown.show a.nav-link::before
{
  display: none;
}

li.nav-item:nth-child(1) { z-index: 10; }
li.nav-item:nth-child(2) { z-index: 9; }
li.nav-item:nth-child(3) { z-index: 8; }
li.nav-item:nth-child(4) { z-index: 7; }
li.nav-item:nth-child(5) { z-index: 6; }
li.nav-item:nth-child(6) { z-index: 5; }
li.nav-item:nth-child(7) { z-index: 4; }
li.nav-item:nth-child(8) { z-index: 3; }
li.nav-item:nth-child(9) { z-index: 2; }
li.nav-item:nth-child(10) { z-index: 1; }

.dropdown-toggle::after, a.nav-link[data-toggle="collapse"]::after
{
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1
sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSIxMDAlIiBoZW
lnaHQ9IjEwMCUiIHZpZXdCb3g9IjE0NS44MzMgMTg3LjUgMjA4LjMzMyAxMjUiPg0KPHBhdGggZ
mlsbD0iI0ZGRiIgZD0iTTI1MCwyNjIuMjA0bC02OC42MDItNjguNjAyYy04LjEzNi04LjEzNi0y
MS4zMjctOC4xMzYtMjkuNDYzLDBjLTguMTM2LDguMTM2LTguMTM2LDIxLjMyNywwLDI5LjQ2M2w
4My4zMzMsODMuMzMzDQoJYzguMTM2LDguMTM2LDIxLjMyNyw4LjEzNiwyOS40NjMsMGw4My4zMz
MtODMuMzMzYzguMTM2LTguMTM2LDguMTM2LTIxLjMyNywwLTI5LjQ2M2MtOC4xMzYtOC4xMzYtM
jEuMzI2LTguMTM2LTI5LjQ2MywwDQoJTDI1MCwyNjIuMjA0eiIvPg0KPC9zdmc+DQo=");
  border: none;
  content: '';
  display: inline-block;
  height: 0.375rem;
  vertical-align: 0.12em;
  margin-left: 0.625rem;
  width: 0.625rem;
}

.dropdown.show a.nav-link.dropdown-toggle
{
  background: #002B4C;
}

a.nav-link[data-toggle="collapse"]
{
  background: #07528C;
}

a.nav-link[data-toggle="collapse"].collapsed
{
  background: #003660;
}

.dropdown.show .dropdown-toggle::after, a.nav-link[data-toggle="collapse"]::after
{
  transform: scaleY(-1);
}

a.nav-link[data-toggle="collapse"].collapsed::after
{
  transform: scaleY(1);
}

.dropdown-header
{
  font-size: 0.75rem;
}

.collapsing
{
  -webkit-transition: none;
  transition: none;
  display: none;
}

a.nav-link .icon
{
  margin-bottom: -0.4em;
}

.navbar-section
{
  background: #07528C;
  height: 217px;
}
